* {
  box-sizing: border-box;
}

body {
    color: var(--textcolor);
  max-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: poppins;
  overflow: hidden;
  background: var(--bgBackground) center center repeat;
  
}

#light-mode {
    --maincolor: white;
    --card: #D3E3EF;
    --textcolor: #38464f;
    --shadowcolor: rgba(0,0,0,.3);
    --accentcolor: #307ac3;
    --bgBackground: url("../images/tictac.png");
    --theGradient: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .7) 70%, rgba(255, 255, 255, 0) 94%);
    --gold: var(--accentcolor)
}

#dark-mode {
    --maincolor: black;
    --card: #2A2A2A;
    --textcolor: #D1D1D1;
    --shadowcolor: rgba(255,255,255,.3);
    --accentcolor: #DAC076;
    --bgBackground: url("../images/tictacdark.png");
    --theGradient: radial-gradient(circle, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 70%, rgba(0, 0, 0, 0) 94%);
    --gold: linear-gradient(140deg, rgba(255,234,189,0.9999816024696434) 0%, rgba(218,191,119,.8) 42%, rgba(93,74,31,.8) 100%)
}

.fa-inverse {
    color: var(--maincolor) !important
}

.fa-circle {
    color: var(--textcolor)
}


.container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  max-height: 100%;
  overflow: hidden
}

.to-gallery .container {
    overflow-y: auto;
}

main {
  width: 300%;
  height: 100%;
  display: grid;
  grid-template-rows : 100%;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-areas: 
  'gallery me services';
  transform: translateX(-33.3%);
  transition: transform 1s Ease;
}


/* Me page :
*/
.me-screen {
  grid-area: me;
  position: relative;
}

.main-figure {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

.main-figure img {
  max-width: 90%;
  max-height: 90%;
  border: 8px solid var(--textcolor);
  padding: 10px;
  border-radius: 50%;
}

.main-figure figcaption {
  text-align: center;
  font: bold 1.2em/1.5em poppins;
  opacity: 0;
  text-shadow: -1px 1px 2px var(--maincolor);
  transition: bottom 2s Ease,
  opacity 2s ease-in-out;
}

.items-layer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 100%;
    overflow: visible;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    margin: 0 auto;
    background: var(--theGradient);
    transition: all 1s Ease
}

header {
    width: 90%;
    max-width: 500px;
    border-radius: 80px;
    height: 80px;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin: 0px auto 8px auto;
    overflow: hidden;
    backdrop-filter: blur(3px);
    background-color: var(--headertint);
    box-shadow: -1px 2px 4px 1px var(--shadowcolor);
}


.logo {
    position: relative;
    left: 30px;
    display: inline-grid;
    width: fit-content;
    margin: auto 0;
    font: bold 24px/1em rancho, cursive;
    cursor: pointer;
    grid-row-gap: 10px;
    grid-template-columns: 42px 4px 70px;
    grid-template-rows: repeat(2, 20px);
    grid-template-areas:
        "M . rest"
        "M . laast";
}

.logo:before {
    grid-area: M;
    content: 'M';
    border-radius: 10px;
    font: bold 26px/50px rancho, cursive;
    text-align: center;
    color: var(--maincolor);
    background: #307ac3;
    background: var(--gold)
}

.restName {
    grid-area: rest;
    display: inline-block;
    color: var(--accentcolor);
    font: bold 36px/76% rancho, cursive;
}

.lastName {
    grid-area: laast;
    display: inline-block;
    font: bold 18px/70% rancho, cursive;
    white-space: nowrap;
}

.follow {
    align-self: flex-end;
    margin: auto 20px;
}

.follow span {
    margin-left: 2px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--textcolor)
}


/* 5) navigation to screens :
*/

h1 {
    text-align: center;
    margin: 10px;
}


nav ul {
    list-style: none;
    padding: 0;
    width: 80%;
    max-width: 400px;
    margin: 0 auto
}

nav ul li {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 2px solid var(--textcolor);
    border-radius: 80px;
    text-align: center;
    font-weight: bold;
    cursor: pointer
}

/* Gallery page :
*/

section:nth-of-type(2) {
    grid-area: gallery;
    text-align: center;
    position: relative
}

h2 {
    text-align: center;
    margin: 28px 0;
}

.gallery-screen h3 {
    color: var(--accentcolor)
}

.gallery-screen article {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 30px auto 30px;
    overflow: hidden;
}

.gallery-screen article iframe, .gallery-screen article div {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

.gallery-screen article div  {
    z-index: 2;
    background-color: var(--card);
    transition:  1s ease
}

.gallery-screen article div p {
    width: 70%;
    margin: 20px auto
}

.gallery-screen article div button {
    border: none;
    outline: none;
    font-family: poppins;
    font-weight: bold;
    background-color: var(--accentcolor);
    color: var(--maincolor);
    padding: 14px;
    border-radius: 15px;
}

section:last-of-type {
    position: relative;
    grid-area: services
}



/* Control center :
*/

.to-me .items-layer {
    bottom: -100%;
}

.to-me figcaption {
    opacity: 1
}

.to-gallery main {
    transform: translateX(0)
}

.to-services main {
    transform: translateX(-66.6%)
}


/* back buttons :
*/

.back-button {
    position: fixed;
    z-index: 2;
    width: 30px;
    height: 30px;
    background-color: var(--accentcolor);
    color: var(--maincolor);
    border-radius: 50%;
    top: -30px;
    left: 20px;
    font-weight: bold;
    font-family: poppins;
    border: none;
    outline: none;
    transition: top 1s Ease
}

.back-iframe {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    font-weight: bold;
    font-family: poppins;
    width: 40px;
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--accentcolor);
    color: var(--maincolor);
}

.to-me .back-button, .to-gallery .back-button, .to-services .back-button {
    top: 30px;
}


/* Services screen :
*/

.services-screen h2 {
    text-align: center;
}

.services-screen div {
    width: 100%;
    padding-left: 6%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: hidden;
}


.services-screen div i {
    width: 30%;
    margin: auto 10% auto 10px;
    line-height: 1.3em;
}

.services-screen div p {
    max-width: 50%;
}

.services-screen div p span {
    font-weight: bold;
    font-size: 1.5em;
    display: block
}

#theme {
    z-index: 3;
    position: fixed;
    top: 30px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--accentcolor);
    background-color: var(--maincolor);
}

@media (max-height: 380px) {
    
    .items-layer {
        justify-content: center;
        margin: 0
        transform: scale(.9)
    }

    nav ul li {
        margin: 6px;
    }
    
    h1 {
        margin: 6px;
    }
}

@media (min-height: 180vw) {

    .items-layer {
        bottom: 24%
    }

}

#loading {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--card);
    transition: opacity 1s ease
}

#loading > div {
    width: fit-content;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-ring, .second-ring, .third-ring {
    position: fixed;
    left: calc(50vw - 70px); /*50vw - width/2 */
    top: calc(50vh - 100px); /*50vh - (width/2 + 30px)*/
    border-radius: 50%;
}

.first-ring {
    width: 140px;
    height: 140px;
    animation: rotate2 2s infinite linear;
    box-shadow: 0 0 2px 2px var(--accentcolor);
}

.second-ring {
    width: 140px;
    height: 140px;
    animation: rotate1 2s infinite linear;
    box-shadow: 0 0 2px 2px var(--accentcolor);
}

.third-ring {
    width: 140px;
    height: 140px;
    animation: rotate3 2s infinite linear;
    box-shadow: 0 0 2px 2px var(--accentcolor);
}


@keyframes rotate1 {
    
  0% {
    transform: rotate3d(0);
  }
  
  50% {
    transform: rotate3d(180, 180, 180, 180deg);
  }
  
  100% {
      transform: rotate3d(360, 360, 360, 360deg);
  }
  
}

@keyframes rotate2 {
    
  0% {
    transform: rotate3d(0);
  }
  
  50% {
    transform: rotate3d(180, 180, 180, -180deg);
  }
  
  100% {
    transform: rotate3d(360, 360, 360, -360deg);
  }
  
  
}

@keyframes rotate3 {
    
  0% {
      transform: rotate3d(0);
  }
  
  50% {
      transform: rotate3d(-180, 180, -180, 180deg);
  }
  
  100% {
      transform: rotate3d(-360, 360, -360, 360deg);
  }
  
}


