/* 1) general theming :
*/

*{
    box-sizing: border-box;
}


body {
    background: var(--bgBackground) center center repeat;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    color: var(--textcolor);
    font-family: poppins;
    overflow: auto;
    transition: background 2s ease-out;
}

#light-mode {
    --maincolor: white;
    --textcolor: #38464f;
    --accentcolor: #307ac3;
    --bgBackground: url("../images/tictac.png");
    --tintgradient:  linear-gradient(180deg, rgba(255,255,255,0.9248074229691877) 53%, rgba(255,255,255,0.8323704481792717) 100%);
}

#dark-mode {
    --maincolor: black;
    --textcolor: #E0E0E0;
    --accentcolor: #ffe264;
    --bgBackground: url("../images/tictacdark.png");
    --tintgradient:  linear-gradient(180deg, rgba(0,0,0,0.7333356667029016) 52%, rgba(0,0,0,0.3273681213675914) 100%);
}


h1 {
    text-align: center;
}

main {
    position: relative;
    width: 100%;
    min-width: 400px;
    max-width: 1000px;
    height:  100%;
    margin: auto auto ;
    overflow: auto;
}

@font-face {
    font-family: poppins;
    src: url('../fonts/poppins.ttf')
}

@font-face {
    font-family: rancho;
    src: url('../fonts/rancho.ttf')
}


h6 {
    display: none
}


.fa-1-5x {
    font-size: 1.5em;
}

.fa-inverse {
    color: var(--maincolor)
}

.fa-circle {
    color: var(--textcolor);
}




/* 2) About Me screen :
*/

.first-of-two {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.second-of-two {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.me-layer {
    display: flex;
    flex-flow: column nowrap;
    justify-content:  flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/* 3) color tinted layer :
*/


.tint-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--tintgradient);
    opacity: .7;
    transition: all 2s ease-out
}




/* 4) The layer that holds all items :
*/

.items-layer {
    z-index: 2;
    position: relative;
    width: 100%;
    margin-bottom: 8vh;
    transition: all 2s ease-out
}



header {
    width: 90%;
    max-width: 500px;
    border-radius: 80px;
    height: 80px;
    line-height: 85px;
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    box-shadow: -1px 2px 4px 1px #00000066;
}


header .blured {
    background: var(--bgBackground) center center repeat;
    filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


header .content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.logo {
    display: inline-block;
    position: relative;
    top: 0;
    left: 10px;
    margin-left: 20px;
    height: fit-content;
    width: 160px;
    font: bold 1.6em/1em rancho, Arial;
    cursor: pointer;
    transform: translateY(3px)
}

.logo:before {
    content: 'M';
    display: inline-block;
    border-radius: 10px;
    font: bold 1.2em/54px rancho, Arial;
    padding: 0 12px;
    color: var(--maincolor);
    background-color: var(--accentcolor);
}

.restName {
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 40px;
    height: 36px;
    width: 80px;
    display: inline-block;
    margin-left: 8px;
    color: var(--accentcolor);
    font: bold 1.7em/1em rancho, Arial;
}

.restName span {
    position: absolute;
}

.lastName {
    display: inline-block;
    position: absolute;
    top: 28px;
    left: 48px;
    font: bold .8em/1em rancho, Arial;
    white-space: nowrap;
}

.follow {
    position: absolute;
    top: 0;
    right: 20px;
    transition: right 4s ease-out
}

.follow span {
    margin-left: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--textcolor)
}


/* 5) navigation to screens :
*/


nav ul {
    list-style: none;
    padding: 0;
    width: 80%;
    max-width: 400px;
    margin: 0 auto
}

nav ul li {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid var(--textcolor);
    border-radius: 80px;
    text-align: center;
    font-weight: bold;
    cursor: pointer
}
    





/* 7) the back button :
*/


.back-button {
    z-index: 4;
    width: 30px;
    height: 30px;
    background-color: var(--accentcolor);
    color: var(--maincolor);
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: -90px;
    font-weight: bold;
    font-family: poppins;
    border: none;
    outline: none;
    transition: left 2s ease-out
}

.me-screen .back-button, .gallery-screen .back-button, .services-screen .back-button {
    left: 30px;
}







/* 6) Screens classes :
*/

.me-screen .tint-layer, .me-screen .items-layer {
    opacity: 0;
    z-index: 0;
    transform: translateY(100%);
}
















/* 8) Gallery and services screens :
*/

section:not(.me-layer) {
    z-index: 3;
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: var(--bgBackground) center center repeat;
    text-align: center;
    overflow: auto;
    transition: left 2s ease-in-out,
                right 2s ease-in-out
}

.gallery {
    left: -100%;
}

.services {
    right: -100%;
}

.gallery-screen .gallery {
    left: 0;
}

.services-screen .services {
    right: 0;
}

section:not(.me-layer) h2 {
    margin: 30px;
}

.gallery h3 {
    color: var(--accentcolor)
}

.gallery iframe {
    width: 90%;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 30px
}

.services div {
    width: 90%;
    border-radius: 20px;
    margin: 50px auto;
    text-align: left;
    overflow: hidden
}

.services div i {
    float: left;
    margin: auto 30px auto 10px;
    line-height: 1.3em;
}

.services div p {
    float: left;
    max-width: 60%;
}

.services div p span {
    font-weight: bold;
    font-size: 1.5em;
    display: block
}

/*to look at*/



@media (max-height: 380px) {

    nav ul li {
        width: 32%;
    }

    .me-screen .about-me-layer p {
        transform: translateY(300%)
    }

}




.absolute-img {
    position: absolute;
    top: 10vh;
    width: 100%;
    display: flex;
    transition: all 2s linear
}

.absolute-img img {
    height: 45vh;
    min-height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid var(--textcolor);
    padding: 15px;
    
}

.me-layer > p {
    position: absolute;
    bottom: 45%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font: bold 1.2em/1.5em poppins;
    opacity: 0;
    text-shadow: -1px 1px 1px var(--maincolor);
    transition: bottom 2s ease-out,
                opacity 2s ease-in-out;
}

.me-screen .me-layer p {
    opacity: 1;
    bottom: 10%
}
